$myFont: Helvetica, sans-serif;
$myPrimary: red;
$mySecondary: green;
$light:lightgrey;
$dark:#333;
$myWidth: 80%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: $myFont;
}

button {
  background-color: $myPrimary;
  &:hover {
    background-color: $mySecondary;
    filter: brightness(80%);
    color: white;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0px 3px;
  }
}

.container, .calculator, .row:nth-child(odd) {
    background-color: $light;
  }


  .focusTooltip {
    visibility: hidden;
    width: 300px;
    background-color: $dark;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    margin: auto;
    left: 0;
    right: 0;
    top: -2rem;
  }
  
  .focusTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: $dark transparent transparent transparent;
  }
