@import "./shared/style.scss";

input,
button {
  width: 50px;
}

input,
button,
#result,
#btnAdd,
#btnSub,
#btnMult,
#btnDiv {
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  border: grey solid 1px;
  vertical-align: middle;
  border-radius: 5px;
  margin: auto;
}

.container div,
.calculator div,
p {
  width: 80%;
  text-align: center;
}

.calculator,
.container {
  margin-top: 2rem;
  border-radius: 5px;
  padding: 2rem;
  width: 450px;
  min-height: 300px;
  padding-bottom: 2rem;
}

.calculator,
.container,
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.users_container {
  width: 90%;
  margin: auto;
  text-align: center;
}



h1,
h2 {
  font-weight: 400;
  margin: 2rem auto;
}

h1,
h2,
p,
.container,
.calculator {
  text-align: center;
  margin: 2rem auto;
}

.container div:first-child {
  position: relative;
  vertical-align: middle;
  padding-top: 2rem;
}



.container:hover .focusTooltip {
  visibility: visible;
}

#second {
  flex-direction: column;
}

.underground {
  visibility: hidden;
}

#searchInput {
  margin: 2rem 5%;
}

#users_container {
  margin-bottom: 100px;
  padding-bottom: 50px;
}
.col {
  width: 20%;
  text-align: left;
}
.row {
  text-align: left;
}

#result,
#searchInput {
  background-color: white;
  width: 80%;
}


